{% extends 'basic.html' %}

{% block head %}

{% endblock %}

{% block title %}Load DF{% endblock %}
{% block content %}
    <h1>Upload CSV</h1>

    <form method="post" enctype="multipart/form-data" onsubmit="showLoading()">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Upload</button>
    </form>

    <div id="loading">
        <p>Please wait</p>
        <img src="https://i.imgur.com/llF5iyg.gif" alt="Loading..." />
    </div>
    {% if success %}
        <h2>Info:</h2>
        The table is very long and for now it will be for sure. HAPPY SCROLLING!
        {{ preview|safe }}
        <table class="table table-striped">
            <thead>
                <th scope="col">Column name</th>
                <th scope="col">Count</th>
                <th scope="col">Zero counts</th>
                <th scope="col">Missing counts</th>
                <th scope="col">Unique val. count</th>
                <th scope="col">Data type</th>
            </thead>

            <tbody>
                {% for col in info %}
                <tr>
                    <td>{{col.name}}</td>
                    <td>{{col.counts}}</td>
                    <td>{{col.zeros}}</td>
                    <td>{{col.missing}}</td>
                    <td>{{col.unique}}</td>
                    <td>{{col.type}}</td>
                    <td>{{col.pos_numeric}}</td>
                    <td>{{col.new_type}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

    {% endif %}
    {{error}}
{% endblock %}